# Tools and IDEs
bin/
obj/
logs/
.vs/
.vscode/
.idea/
_ReSharper.Caches/
*.pubxml
*.user
launchSettings.json

# Generated code
GeneratedCode/gen/
CSharpCodeGenerator/CSharpCodeGenerator.Test/gen/

# Local nuget packages source
nupkgs/
.nupkg_src/
